version: "3"
services:
  zsh-in-docker-dev:
    container_name: zsh-in-docker-dev
    image: alpine:latest
    working_dir: /workspace
    volumes:
      - ./:/workspace

  test-alpine:
    image: alpine:latest
    entrypoint: /bin/sh
    command: -c "while sleep 1000; do :; done"

  test-ubuntu:
    image: ubuntu:latest
    entrypoint: /bin/sh
    command: -c "while sleep 1000; do :; done"

  test-debian:
    image: debian:latest
    entrypoint: /bin/sh
    command: -c "while sleep 1000; do :; done"

  test-amazonlinux:
    image: amazonlinux:latest
    entrypoint: /bin/sh
    command: -c "while sleep 1000; do :; done"

  test-centos:
    image: centos:latest
    entrypoint: /bin/sh
    command: -c "while sleep 1000; do :; done"
